<ion-header>

  <ion-navbar>
    <ion-title>Add Sound</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list inset no-lines>

    <form (ngSubmit)="save()" #addSoundForm="ngForm">
      <ion-item>{{fileName}}</ion-item>
      <ion-item>
        <ion-label floating>Category </ion-label>
        <ion-select [(ngModel)]="form_categories" multiple="true" cancelText="Annuler" okText="Ok" name="categories"
          required>
          <ion-option value="{{category._id}}" *ngFor="let category of categories">{{ category.name }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Quality</ion-label>
        <ion-select [(ngModel)]="form_quality" name="quality" required>
          <ion-option value="Good">Good</ion-option>
          <ion-option value="Bad">Bad</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea type="text" [(ngModel)]="form_description" name="description" required></ion-textarea>
      </ion-item>

      <ion-item *ngIf="position==null">
        <ion-label floating>Ville</ion-label>
        <ion-input type="text" [(ngModel)]="form_city" name="city" required></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button color="primary" large block icon-start type="submit" [disabled]="!addSoundForm.form.valid">
          <ion-icon name="save"></ion-icon>
          Save
        </button>
      </ion-item>

    </form>

    <ion-item>
      <button ion-button color="danger" outline large block icon-start (click)="cancelSave()">
        <ion-icon name="close"></ion-icon>
        Cancel
      </button></ion-item>
  </ion-list>

</ion-content>
