<ion-header>

  <ion-navbar>
    <ion-title>Record sound</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list inset no-lines>

    <ion-item><button ion-button color="primary" large block icon-start (click)="stopRecord()" *ngIf="recording">
        <ion-icon name="mic-off"></ion-icon>
        Stop
      </button>
    </ion-item>

    <ion-item><button ion-button color="secondary" large block icon-start (click)="startRecord()" *ngIf="!recording">
        <ion-icon name="mic"></ion-icon>
        Record
      </button>
    </ion-item>

    <ion-item><button ion-button color="danger" outline large block icon-start (click)="cancelRecord()" *ngIf="recording">
        <ion-icon name="close"></ion-icon>
        Cancel
      </button>
    </ion-item>

  </ion-list>
</ion-content>
